
@{
    ViewBag.Title = "Добавление новых товаров на склад";
}

<h1>@ViewBag.Title</h1>

<p>Добавление новых товаров на склад путем ручного ввода данных и уникального идентификатора</p>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label">Уникальный идентификатор:</label>
            <input class="form-control" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label">Вид товара:</label>
            <input class="form-control" />
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label">Место размещения товара:</label>
            <input class="form-control" />
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label">Время и дата размещения товара:</label>
            <input class="form-control" />
        </div>
    </div>
</div>

<a class="btn btn-primary disabled" href="#">Добавить</a>