
@{
    ViewBag.Title = "Удаление товаров со склада";
}

<h1>@ViewBag.Title</h1>

<p>Удаление товаров со склада путем ручного ввода уникального идентификатора</p>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label class="control-label">Уникальный идентификатор:</label>
            <input class="form-control" />
        </div>
    </div>
</div>

<a class="btn btn-primary disabled" href="#">Удалить</a>