
@{
    ViewBag.Title = "Загрузить мобильное приложение";
}

<h1>@ViewBag.Title</h1>

<p>Мобильное приложение позволяет автоматизировать работу оператора склада. Щелкнуть по ссылке для продолжения загрузки мобильного приложения.</p>

<div class="row">
    <div class="col-md-6">
        <a href="https://disk.yandex.ru/d/E5VXjzcvTY0-UQ">Загрузка</a><br />
        <img src="~/img/qr-code mobile.png" width="300" alt="QR код ссылки на мобильное приложение" />
    </div>
    <div class="col-md-6">
        <img src="~/img/sample.png" alt="Образец этикетки" />
        <p>Сканируется мобильным приложением</p>
    </div>

</div>