
@{
    ViewBag.Title = "Загрузить мобильное приложение";
}

<h1>@ViewBag.Title</h1>

<p>Мобильное приложение позволяет автоматизировать работу оператора склада. Щелкнуть по ссылке для продолжения загрузки мобильного приложения.</p>

<a href="https://disk.yandex.ru/d/E5VXjzcvTY0-UQ">Загрузить мобильное приложение</a>
