
@{
    ViewBag.Title = "Оперативное управление";
}

<h1>@ViewBag.Title</h1>

<p>Функции оперативного управления сладом, ежедневно выполняемые персоналом</p>

<p>Занос новых товаров в склад</p>

<p>Удаление загруженных товаров со склада</p>

<p>Ревизия склада</p>