
@{
    ViewBag.Title = "Оперативное управление";
}

<h1>@ViewBag.Title</h1>

<p>Функции оперативного управления сладом, ежедневно выполняемые персоналом</p>

<a class="btn btn-info" asp-controller="Operator" asp-action="Add">Добавление</a>

<a class="btn btn-info" asp-controller="Operator" asp-action="Delete">Удаление</a>
