<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Склад кирпичей</title>
    
    <partial name="Partial/_StylesPartial"/>

</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom mb-4">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Склад кирпичей</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Products">Товары</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Places">Места</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                Информация
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item text-dark" asp-controller="Home" asp-action="FillingInfo">Заполненность склада</a></li>
                                <li><a class="dropdown-item text-dark" asp-controller="Home" asp-action="CountsInfo">Количество товара</a></li>
                                <li><a class="dropdown-item text-dark" asp-controller="Home" asp-action="HistoryInfo">Хронология поступления товаров</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-dark" asp-controller="Home" asp-action="ProductTypes">Виды товаров</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                                Управление
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item text-dark" asp-controller="Operator" asp-action="Index">Оперативное управление</a></li>
                                <li><a class="dropdown-item text-dark" asp-controller="Operator" asp-action="Add">Добавление</a></li>
                                <li><a class="dropdown-item text-dark" asp-controller="Operator" asp-action="Delete">Удаление</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-dark" asp-controller="Operator" asp-action="GetMobile">Загрузить мобильное приложение</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="About">О приложении</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; 2021 - kanadeiar <a class="btn text-light" href="https://github.com/kanadeiar/EasyWarehouse">github</a>
        </div>
    </footer>

    <partial name="Partial/_ScriptsPartial" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
