@{
    ViewBag.Title = "О приложении";
}

<h1>@ViewBag.Title</h1>

<p>Прототип приложения управления складом кирпичей.</p>

<a class="btn" href="https://github.com/kanadeiar/EasyWarehouse">Мой репозиторий на github</a>