@{
    ViewBag.Title = "Склад кирпичей";
}

<div class="text-center">
    <h1 class="display-1">@ViewBag.Title</h1>    

</div>

<p>Просмотр общей итоговой информации по складу в обобщенном виде</p>

